body {
  margin: 0; /* important pour éviter les marges par défaut */
  font-family: sans-serif;
  background-image: url("assets/background/menu_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body.body-easy {
  background-image: url("assets/background/easy_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed; 
}

body.body-medium {
  background-image: url("assets/background/medium_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:auto;
  background-attachment: fixed;
}

body.body-hard {
  background-image: url("assets/background/hard_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}





#game-board {
  display: grid;
  grid-template-columns: repeat(6, auto);
  box-sizing: border-box;
  gap: 10px;
  padding: 10px;
  margin: auto;
  width: auto; 
  justify-content: center;

  /* style glassmorphisme*/
  background: rgba(255, 255, 255, 0.02); 
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.404);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(65, 65, 65, 0.1);
}

.board-easy {
  grid-template-columns: repeat(3, auto);
}

.board-medium {
  grid-template-columns: repeat(6, auto);
}

.board-hard {
  grid-template-columns: repeat(5, auto); 
}


.card-size-easy {
  width: 130px;
  height: 190px;
}

.card-size-medium {
  width: 120px;
  height: 160px;
}

.card-size-hard {
  width: 100px;
  height: 130px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  user-select: none;
  transition: transform 0.2s ease;
}


.card img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}


.card.flipped {
  background-color: #fff;
  color: #111;
  font-weight: bold;
}