body, html {
  margin: 0;
  padding: 0;
  overflow-y: hidden; /* pas la meilleure façon de faire à revoir*/
  height: 100%;
}


/* body */ 
body {
  font-family: sans-serif;
  background-image: url("assets/background/menu_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body.body-easy {
  background-image: url("assets/background/easy_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed; 
}

body.body-medium {
  background-image: url("assets/background/medium_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:auto;
  background-attachment: fixed;
}

body.body-hard {
  background-image: url("assets/background/hard_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}


/* menu */ 
#menu-container {
  display: flex;
  justify-content: center;
  margin-top: 5vh; /* Tu ajustes ici la position verticale du menu */
}

#main-menu {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  text-align: center;
  padding: 2rem 3rem;
  /* style glassmorphisme*/
  background: rgba(255, 255, 255, 0.02); 
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.404);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(65, 65, 65, 0.1);
  color: white;
}


/* board */ 
/* Conteneur du plateau de jeu */
#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* pour centrer si besoin */
}

#game-board {
  display: none;
  grid-template-columns: repeat(6, auto);
  box-sizing: border-box;
  gap: 10px;
  padding: 10px;
  margin: auto;
  width: auto; 
  justify-content: center;

  /* style glassmorphisme*/
  background: rgba(255, 255, 255, 0.02); 
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.404);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(65, 65, 65, 0.1);
}

.board-easy {
  grid-template-columns: repeat(3, auto);
}

.board-medium {
  grid-template-columns: repeat(8, auto);
}

.board-hard {
  grid-template-columns: repeat(8, auto); 
}


/* card */ 

.card-size-easy {
  width: 130px;
  height: 190px;
}

.card-size-medium {
  width: 120px;
  height: 160px;
}

.card-size-hard {
  width: 100px;
  height: 130px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  user-select: none;
  transition: transform 0.2s ease;
}


.card img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}


.card.flipped {
  background-color: #fff;
  color: #111;
  font-weight: bold;
}